
<table>
<th>Lineitem</th>
  <tr>
    <th>Order Id</th>
    <td><%= @lineitem.order_id %></td>
  </tr>
  <tr>
    <th>Book Id</th>
    <td><%= @lineitem.book.id %></td>
  </tr>
  <tr>
    <th>Book Name</th>
    <td><%= @lineitem.book.bname %></td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td><%= @lineitem.quantity %></td>
  </tr>
</table>